body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #5B545C;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* mie istruzioni */

#video1 {
  display: block;
  padding-top: 66px;
}

#video2 {
  display: block;
}

h1 {
  font-size: 35px;
  margin: 0px !important;
}

h2 {
  font-weight: bold;
}

#bottone {
  margin: 0px !important;
}

a:hover {
  text-decoration: none;
  color: grey;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 29px;
    padding-left: 0px !important;
  }

  div div a img {
    height: 30px;
  }

  center iframe {
    width: 300px;
    height: 315px;
  }
}
