body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #5B545C;
  line-height: 1.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* mie istruzioni */

#video1 {
  display: block;
  padding-top: 66px;
}

#maps {
  display: block;
}

#storia, #fotogallery{
  text-align: center;
}

h1 {
  font-size: 35px;
  margin: 0px !important;
}

h2 {
  font-weight: bold;
}

p, ul {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: grey;
}

#mappa{
  width: 90%;
  padding-left: 5%;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 24px;
    padding-left: 50px !important;
  }

  p {
  font-size: 16px;
  }

  center iframe {
    width: 300px;
    height: 315px;
  }

  header img {
    height: 40px;
  }


  #fotogallery img {
    padding: 10px;
  }

  #cosavedere {
   text-align: center;
  }
}

@media screen and (max-width: 800px){

  h1 {
    font-size: 27px;
  }

  header img {
    height: 30px;
  }

header section a{
  font-size: 12px;
  padding: 15px !important;
  }

  #video1 {
    padding-top: 52px !important;
  }
}

@media screen and (max-width: 320px) {

  h1 {
    font-size: 22px;
    padding-left: 15px !important;
  }

  center iframe {
    width: 250px;
    height: 300px;
  }

  header img {
    height: 30px;
  }
}
